/* div containing lists */
#arrays-bin {
	width: 100%;
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: -o-calc(100% - 50px);
	height: calc(100% - 50px);
	overflow-y: auto;
	overflow-x: auto;
}

#array-whitespace {
	width: 100%;
	height: 50px;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

/* css and icon for the array dropdown button */
.collapse-btn::after {
	font-family: 'Glyphicons Halflings';
	content: "\e114";
	float: right;
	color: grey;
	margin-left: 5px;
}

.collapse-btn .collapsed::after {
    content:"\e080";
}

.panel-heading {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

.history-button {
	position: absolute;
	right: 45px;
	top: 4px;
	height: 30px;
	font-size: 12px;
}

/* list var name heading */
#arrays-bin .panel-collapse {
  white-space: nowrap;
}

.array-container {
	position: relative;
	overflow-x: auto;
}

.current-array {
}

.table-number {
	transform: translateX(-25%) rotate(90deg);
}

.table-number-empty {
	transform: rotate(90deg);

}

.table-number span, .table-number-empty span {
	white-space: pre-line;
}

/* table styles for the results */
.array-table {
	margin: 4px;
}

.array-table th, .array-table td {
	border: 0px solid black;
	border-collapse: collapse;
	padding: 0px !important;
	vertical-align: top;
}

.array-key {
	text-align: center;
}

/* cell styles for different interations */
.array-no-change {
}

.array-insert {
	background-color: rgb(0, 255, 0);
}

.array-remove {
	background-color: rgb(0, 0, 255);
	width: 10px;
}

.array-change {
	background-color: rgb(255, 255, 0);
}

/* styles for nested tables of 2D data */
.nested-array-table {
	width: 100%;
	height: 100%;
}

.nested-array-table th, .nested-array-table td {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 3px 15px !important;
	vertical-align: middle;
}

.nested-array-table a {
	color: inherit;
	display: flex;
}

.nested-array-table a::after {
	color: inherit;
}
