/* blockly div css */
#blockly-div {
	position: static;
}

/* set colour for hovering over blocky elements */
#blockly-div > ul > li:hover {
  background-color: #808080;
}

/* blocky text css */
.blockly_text { }

.bold_text {
	font-weight: bold;
	font-size: large;
	color: black;
}

.super_text {
	font-weight: bold;
	font-size: 25px !important;
	color: black;
}

.brack_text {
	font-size: 1.8em !important;
	color: black;
}

.argName {
	display: none;
}
