/* div containing the console */
#console-tab {
	padding: 4px 4px 4px 4px;
	border-top: 2px solid black;
	background-color: #404040;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}

#console-tab > p {
	color: white;
	font-family: CamingoCode, sans-serif;
	position: relative;
}

.console-text {
	word-break: break-all;
}

.user-text {
	color: #33cc33 !important;
}

.error-text {
	color: #dc143c !important;
}

.computer-text {
	color: white !important;
}

#answer-box {
	font-family: CamingoCode, sans-serif;
	color: white;
	display: inline-block;
}

#input-box:focus {
	border: none;
	outline: 0px solid transparent;
}

#user-input:focus {
	border: none;
	outline: 0px solid transparent;
	caret-color: #33cc33;
}

#user-input > br {
	display: none;
}

/* override popout colours due to dark background */
#console-popout {
	color: rgb(242, 242, 242);
}

#console-popout:hover {
	color: rgb(179, 179, 179);
}
