/* div containing the graph */
#graph-container {
	height: 100%;
	width: 100%;
}

/* network styling */
.network {
	position: relative;
	background-color: #e6e6e6;
  width: 100%;
  height: 100%;
  border: 1px solid lightgray;
}

/* graph control overlay styling */
#graph-controls {
	position: absolute;
	float: left;
	top: 15px;
	left: 15px;
	width: min(calc(100% - 60px), 400px);
	height: auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 199;
}

#graph-select {
	width: 100%;
}

#graph-controls button {
	margin: auto;
	width: 100%;
}

@media screen and (max-width: 360px) {
	.graph-control-text {
		display: none;
	}
}

/* settings model styling */
#graph-tab {
	overflow: hidden;
	position: relative;
}

.modal, .modal-backdrop {
  position: absolute !important;
}

.modal-dialog {
	width: max(70%, 350px);
}

.modal-body {
	padding-bottom: 0px;
}

label {
	font-weight: normal;
}

/* context menu styling */
#context-menu {

}
