/* general page css */
@font-face {
	font-family: CamingoCode;
	src: url('../media/fonts/CamingoCode/Regular.ttf');
}

/* css for popout buttons */
.popout {
	position: absolute;
	float: right;
	top: 15px;
	right: 15px;
	width: auto;
	height: auto;
	display: inline-block;
	padding: 5px 5px 5px 5px;
	z-index: 200;
}

.popout:hover {
	color: rgb(3, 85, 122);
}

.jqx-fill-state-disabled {
	opacity: inherit;
}

/* logo css */
.navbar-brand {
	margin-left: 5px;
	margin-right: 15px;
	padding: 7px;
}

.nav-logo {
	height: 100%;
}

/* navbar styling */
.navbar {
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
	color: white;
	padding-left: 3px;
}

#navbar .active a {
  background-color: rgb(3, 85, 122) !important;
}

#navbar .active ul > li > a {
  background-color: #666666 !important;
}

#navbar .active ul > li > a:hover {
  background-color: #808080 !important;
	color: white;
}

#navbar .active ul > li > ul:hover {
  background-color: #808080 !important;
	color: white;
}

.open > a {
	background-color: inherit !important;
}

.active > ul > li > a {
  background-color: #666666 !important;
}

.active > ul > li > a:hover {
  background-color: #808080 !important;
	color: white;
}

/* set background colour for hovering over navbar li */
#navbar > ul > li:hover {
  background-color: #808080;
}

/* navbar dropdown style */
.nav-dropdown {
	display: inline-block !important;
	margin-right: -5px;
}

.dropdown-menu {
	background-color: #666666 !important;
	color: white !important;
	min-width: 230px;
	border: solid black 1pt;
}

.dropdown-menu > li > a {
	color: white !important;
}

.list-inline > li {
	color: white;
	padding: 0px 0px 5px 5px;
	margin: 2px 2px 2px 2px;
}

.dropdown-menu > li > a:hover {
  background-color: #808080 !important;
	color: white !important;
}

/* dropdown button */
#drop-button {
	padding: 15px 15px 15px 0px;
	color: white;
}

#display-mode-dropdown {
	height: 25px;
	padding-top: 2px;
	padding-bottom: 2px;
}

/* run button and speed slider */
#run-button {
	padding: 15px 10px 15px 0px;
}

#run-slider {
	height: 90%;
	width: 100%;
	display: inline-block;
	margin: 10px 0px 0px 0px;
}

/* navbar window buttons */
.window-button {
	padding-left: 15px !important;
}

/* set container and flex properties */
html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

#container {
	display: flex;
	flex-flow: column;
	height: 100%;
}

#nav-row {
	flex: 0 1 auto;
}

#body-row {
	flex: 1 1 auto;
}

/* margin for icons */
.glyphicon {
  margin-right: 5px;
}

/* hide file inputs */
.file-input {
	display: none !important;
}

.window-tab {
	width: 100%;
	height: 100%;
}

/* speed dropdown width */
#speed-dropdown {
	min-width: 300px;
}

#speed {
	border-left: 1px solid;
	padding-left: 4px;
	margin-left: 3px;
}

/* instructions css */
#instructions-tab	{
	background-color: #e6e6e6;
	overflow-y: scroll;
	height: 100%;
	color: inherit !important;
}

#instructions-tab > :not(#instructions-popout)  {
	padding: 0px 15px;
}

#instructions-tab > ul  {
	padding-left: 40px !important;
	padding-right: 15px;
}

#instructions-tab > ul > li {
	font-size: 17px;
	width: inherit;
	word-wrap: break-word;
	padding: 0px 15px;
}

/* print css changes
@media print {
	#tableBox {
		display: hidden;
		height: 100%;
		overflow: visible;
	}

	.table-header {
		table-layout: fixed;
		position: relative;
		border-collapse: collapse;
	}

	.table-body {
		table-layout: fixed;
		position: relative;
		border-collapse: collapse;
		overflow: visible;
	}
	.header-cell {
		text-align: center;
		height: 40px;
		width: 120px;
		min-width: 120px;
		max-width: 120px;
		border: 1px solid black;
	}

	#blueCell {
		width: 150px;
		min-width: 150px;
		max-width: 150px;
	}

	.body-cell {
		width: 120px;
		min-width: 120px;
		max-width: 120px;
		text-align: center;
		border: 1px solid black;
		overflow-x: auto;
	}

	.col {
		word-wrap: break-word;
	}

	#tablePopOut {
		display: none;
	}
}*/
