#table-tab {
	overflow-y: auto;
}

/* table dropdown to select variable view */
#table-dropdown > li {
	height: 26px;
}

#table-dropdown {
	max-height: 500px;
	overflow-y: auto;
}

.var-menu {
	height: 26px;
	padding: 3px 20px 3px 20px;
}

.var-check {
	float: right;
}

#table-dropdown > li > #var-head {
	background-color: rgb(3, 85, 122) !important;
	padding: 3px 20px 3px 20px;
	border-top: grey solid 1px;
	border-bottom: grey solid 1px;
}

/* table style */
#table-header {
	position: relative;
	border-collapse: collapse;
}

#table-body {
	position: relative;
	border-collapse: collapse;
}

#table-header > tr > th {
  text-align: center;
  height: 40px;
	border: 1px solid black;
	background-color: #404040;
	color: white;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
}

/* body cell style */
#table-body > tr > td {
  text-align: center;
	border: 1px solid black;
	overflow: auto;
}

#table-body > tr > td > svg > g {
	transform: translate(0, 0);
}

#table-body > tr > td > svg {
	width: auto;
	height: 4em;
	display: block;
	overflow-x: hidden;
}

/* cell styles */
.blue-cell {
	background-color: rgb(3, 85, 122) !important;
	color: white;
}

.complex-cell {
	background-color: rgb(255, 255, 0);
	cursor: pointer;
}

.svg-cell {
	width: 120px;
	max-width: 120px;
	min-width: 120px;
}

.iteration-cell {
  width: 50px;
	max-width: 50px;
	min-width: 50px;
}

.var-col:not(th) {
	word-wrap: break-word;

	-webkit-transition: background-color 3000ms linear;
	-moz-transition: background-color 3000ms linear;
	-o-transition: background-color 3000ms linear;
	-ms-transition: background-color 3000ms linear;
	transition: background-color 3000ms linear;
}
